.user-info {
  margin-top: 15px;
  width: 100%;
  background-color: rgb(169, 183, 201);

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.user-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-image-container {
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 10%;
  }
}

.user-repositories {
  padding: 0;
  margin: 0;
  width: 100%;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin: 70px 0;
  width: 100%;
  height: auto;

  img {
    width: 50px;
    height: 50px;
  }
}
