<div class="pagination">
    <input type="button" ng-disabled="PaginationCtrl.currentPage <= 1" ng-click="PaginationCtrl.goBack()" value="&laquo;">
    <ul>
        <li ng-repeat="item in PaginationCtrl.getPaginationList() track by $index">
            <a href="" ng-disabled="item === '...'" ng-click="PaginationCtrl.goToPage($event)">{{item}}</a>
        </li>
    </ul>
    <input type="button" ng-disabled="PaginationCtrl.currentPage >= PaginationCtrl.lastResultsPage" ng-click="PaginationCtrl.goForward()"
        value="&raquo;">
</div>