html,
body {
  min-width: 600px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.search-results-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  search-bar {
    width: 100%;
  }

  .search-results-content {
    display: flex;
    flex-direction: row;

    ui-view {
      width: 100%;

      .welcome {
        text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
                     10px 20px 5px rgba(0, 0, 0, 0.05), 
                     -10px 20px 5px rgba(0, 0, 0, 0.05);
        font-size: 50px;
        text-align: center;
        margin-top: 70px;

        p {
          margin: 0;
        }

        span {
          font-size: 20px;
        }
      }
    }
  }
}

header {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: lightgray;
  justify-content: center;
}

// root {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }

// .content {
//   flex: 1 0 auto;
// }

// footer {
//   flex: 0 0 auto;
//   text-align: center;
//   background-color: lightgray;
// }
