.search-results-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  search-bar {
    width: 100%;
  }

  .search-results-content {
    display: flex;
    flex-direction: row;

    ui-view {
      width: 100%;
    }
  }
}

header {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: lightgray;
  justify-content: center;
}
