<section>
    <div class="result-item" ng-switch="SearchResultsListCtrl.resultCategory" ng-repeat="item in SearchResultsListCtrl.resultsList">
        <div ng-switch-when="users">
            <a href ng-click="SearchResultsListCtrl.showUserPage($event)">{{item.login}}</a>
        </div>
        <div ng-switch-when="repositories">
            {{item.owner.login}}
        </div>
        <div ng-switch-when="issues">
            {{item.title}}
        </div>
    </div>
    <ul>
        <li ng-repeat="item in SearchResultsListCtrl.resultsList"><a href="" ng-click="SearchResultsListCtrl.changePage($index)">{{$index}}</a></li>
    </ul>
    <!-- {{SearchResultsListCtrl.paginationPage}} -->
</section>